{% extends 'base.html' %}
{% load static %}
{% block page_title%} days {% endblock %}


{% block header_references %}
<link rel="stylesheet" href="{% static 'challenges/challenges.css'%}">
{% endblock %}


{% block content %}    
{% include 'challenges/includes/header.html' with active_page='days list' %}

    <ul>
        {% for i in days %}
            <!-- <li><a href="/days/{{i}}">{{day | title}} </a></li> -->

            <li><a href="{% url 'days-of-weeks' i %}">{{i | title}} </a></li>
            
        {% endfor %}





    </ul>

{% endblock%}
